h1{
    color: blue;
}

.wrapper {
    display: flex;
    color: darkblue;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 300px;
    /* gap: 10px; */
}

.wrapper>div{
    flex: 1;
}

.wrapper img{
    width:100%;
    height:100%;
    object-fit: cover;
}

  